body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: white
}

#notesModel{
    color: black!important
}

.activetab{
    color: white!important
}

.currenttab{
    color: rgba(255,255,255,.5)!important
}

h1, h2, h3, h4, h5{
    font-family: 'Merriweather', serif;
}