body{
    background-color: black;
    color: white;
}

a{
    color: white
}

#notesModel{
    color: black!important
}

.activetab{
    color: white!important
}

.currenttab{
    color: rgba(255,255,255,.5)!important
}